.head-section {
    background: url(../img/help-crop.jpg);
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}
.section-text {
    padding: 50px 0 100px 0;
    color: #fff;
}
.section-text h1 {
    font-weight: 700;
}
.section-text p {
    font-size: 20px;
}
.text-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
 }
 .fund-details {
    width: 33.3%;
    padding-left: 10px;
    padding-right: 15px;
 }
 .donation-card img {
    width: 95%;
    height: auto;
    padding: 20px 10px 15px 5px;
 }
 
 .text-inner  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
 }
 .fund-details {
    width: 33.3%;
    padding-left: 10px;
    padding-right: 15px;
 }
 .donation-card img {
    width: 95%;
    height: auto;
    padding-left: 15px 5px;
 }
 
 .text-inner  {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 max-width: 100%;
 }
 .fund-details {
  width: 33.3%;
 
 }
 .donation-card img {
 width: 95%;
 height: auto;
 padding: 20px 10px 15px 5px;
 }